---
http_interactions:
- request:
    method: post
    uri: https://test-gcc.globalsign.com/kb/ws/v1/GASService
    body:
      encoding: UTF-8
      string: |-
        <soap:Envelope xmlns:soap="http://schemas.xmlsoap.org/soap/envelope/" xmlns:ns2="https://system.globalsign.com/kb/ws/v1/">
          <soap:Body>
            <ns2:GetOrderByOrderID>
              <Request>
                <QueryRequestHeader>
                  <AuthToken>
                    <UserName>[USER_NAME]</UserName>
                    <Password>[PASSWORD]</Password>
                  </AuthToken>
                </QueryRequestHeader>
                <OrderID>xxxx123456789</OrderID>
                <OrderQueryOption>
                  <ReturnCertificateInfo>true</ReturnCertificateInfo>
                <OrderQueryOption>
              </Request>
            </ns2:GetOrderByOrderID>
          </soap:Body>
        </soap:Envelope>
    headers:
      Content-Type:
      - text/xml
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: <soap:Envelope xmlns:soap="http://schemas.xmlsoap.org/soap/envelope/"><soap:Body><ns2:GetOrderByOrderIDResponse xmlns:ns2="https://system.globalsign.com/kb/ws/v1/"><Response><OrderResponseHeader><SuccessCode>0</SuccessCode><Errors/><Timestamp>2016-10-19T12:51:15.596+09:00</Timestamp></OrderResponseHeader><OrderID>xxxx123456789</OrderID><OrderDetail><OrderInfo><OrderId>xxxx123456789</OrderId><OriginalOrderIDForRenewal xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:nil="true"/><OriginalOrderIDForReIssue xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:nil="true"/><ProductCode>DV_LOW_MONTH_OP</ProductCode><BaseOption xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:nil="true"/><OrderKind>New</OrderKind><Licenses>1</Licenses><ExpressOption>false</ExpressOption><ValidityPeriodCustomizeOption>false</ValidityPeriodCustomizeOption><InsuranceOption>false</InsuranceOption><GSSupportOption>false</GSSupportOption><RenewalExtentionOption>false</RenewalExtentionOption><DomainName>www.example.com</DomainName><OrderDate>2016-10-05T14:11:30.335+09:00</OrderDate><OrderCompleteDate>2016-10-05T14:11:24.023+09:00</OrderCompleteDate><OrderCanceledDate xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:nil="true"/><OrderDeactivatedDate xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:nil="true"/><OrderStatus>4</OrderStatus><Price>0</Price><Currency>JPY</Currency><ValidityPeriod><Months>1</Months><NotBefore xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:nil="true"/><NotAfter xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:nil="true"/></ValidityPeriod><SpecialInstructions xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:nil="true"/></OrderInfo><OrderSubInfo><CSRSkipOrderFlag>false</CSRSkipOrderFlag><DNSOrderFlag>false</DNSOrderFlag><TrustedOrderFlag>false</TrustedOrderFlag><P12DeleteStatus>false</P12DeleteStatus><P12DeleteDate xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:nil="true"/><VerificationUrl xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:nil="true"/></OrderSubInfo><OrderOption xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:nil="true"/><CertificateInfo><CertificateStatus>4</CertificateStatus><StartDate>2016-10-06T14:53:23.000+09:00</StartDate><EndDate>2016-11-06T14:53:23.000+09:00</EndDate><CommonName>example.com</CommonName><SubjectName>CN = example.com, O = null, OU = Domain Control Validated, L = null, ST = null, C = JP</SubjectName><DNSNames xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:nil="true"/></CertificateInfo><SANEntries xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:nil="true"/><Fulfillment xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:nil="true"/><ModificationEvents><ModificationEvent><ModificationEventName>ORDER_REQUEST</ModificationEventName><ModificationEventTimestamp>2016-10-05T14:11:24.023+09:00</ModificationEventTimestamp></ModificationEvent><ModificationEvent><ModificationEventName>ORDER_VALIDATE_REGISTER</ModificationEventName><ModificationEventTimestamp>2016-10-05T14:11:30.335+09:00</ModificationEventTimestamp></ModificationEvent><ModificationEvent><ModificationEventName>READY_VARIFICATION_URL</ModificationEventName><ModificationEventTimestamp>2016-10-05T14:11:31.255+09:00</ModificationEventTimestamp></ModificationEvent></ModificationEvents></OrderDetail></Response></ns2:GetOrderByOrderIDResponse></soap:Body></soap:Envelope>
  recorded_at: Wed, 19 Oct 2016 03:51:15 GMT
recorded_with: VCR 3.0.3
