---
http_interactions:
- request:
    method: post
    uri: https://test-gcc.globalsign.com/kb/ws/v1/ServerSSLService
    body:
      encoding: UTF-8
      string: |-
        <soap:Envelope xmlns:soap="http://schemas.xmlsoap.org/soap/envelope/" xmlns:ns2="https://system.globalsign.com/kb/ws/v1/">
          <soap:Body>
            <ns2:GetDVApproverList>
              <Request>
                <QueryRequestHeader>
                  <AuthToken>
                    <UserName>[USER_NAME]</UserName>
                    <Password>[PASSWORD]</Password>
                  </AuthToken>
                </QueryRequestHeader>
                <FQDN nil="true"/>
              </Request>
            </ns2:GetDVApproverList>
          </soap:Body>
        </soap:Envelope>
    headers:
      Content-Type:
      - text/xml
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: <soap:Envelope xmlns:soap="http://schemas.xmlsoap.org/soap/envelope/"><soap:Body><ns2:GetDVApproverListResponse
        xmlns:ns2="https://system.globalsign.com/kb/ws/v1/"><Response><QueryResponseHeader><SuccessCode>-1</SuccessCode><Errors><Error><ErrorCode>-102</ErrorCode><ErrorField>FQDN</ErrorField><ErrorMessage>Mandatory
        parameter missing. Please check that the parameters match the API specification.
        Please review the specific ErrorMessage returned in the XML response for parameter
        details and consult the XML Field definitions section of the applicable API
        document.</ErrorMessage></Error></Errors><Timestamp>2017-08-09T06:43:00.083-03:00</Timestamp></QueryResponseHeader><Approvers/></Response></ns2:GetDVApproverListResponse></soap:Body></soap:Envelope>
  recorded_at: Wed, 09 Aug 2017 21:43:00 GMT
recorded_with: VCR 3.0.3
