---
http_interactions:
- request:
    method: post
    uri: https://test-gcc.globalsign.com/kb/ws/v1/ServerSSLService
    body:
      encoding: UTF-8
      string: |-
        <soap:Envelope xmlns:soap="http://schemas.xmlsoap.org/soap/envelope/" xmlns:ns2="https://system.globalsign.com/kb/ws/v1/">
          <soap:Body>
            <ns2:GetDVApproverList>
              <Request>
                <QueryRequestHeader>
                  <AuthToken>
                    <UserName>[USER_NAME]</UserName>
                    <Password>[PASSWORD]</Password>
                  </AuthToken>
                </QueryRequestHeader>
                <FQDN>example.com</FQDN>
              </Request>
            </ns2:GetDVApproverList>
          </soap:Body>
        </soap:Envelope>
    headers:
      Content-Type:
      - text/xml
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: <soap:Envelope xmlns:soap="http://schemas.xmlsoap.org/soap/envelope/"><soap:Body><ns2:GetDVApproverListResponse
        xmlns:ns2="https://system.globalsign.com/kb/ws/v1/"><Response><QueryResponseHeader><SuccessCode>0</SuccessCode><Errors/><Timestamp>2017-08-09T04:53:30.572-03:00</Timestamp></QueryResponseHeader><Approvers><SearchOrderDetail><ApproverType>GENERIC</ApproverType><ApproverEmail>admin@example.com</ApproverEmail></SearchOrderDetail><SearchOrderDetail><ApproverType>GENERIC</ApproverType><ApproverEmail>administrator@example.com</ApproverEmail></SearchOrderDetail><SearchOrderDetail><ApproverType>GENERIC</ApproverType><ApproverEmail>hostmaster@example.com</ApproverEmail></SearchOrderDetail><SearchOrderDetail><ApproverType>GENERIC</ApproverType><ApproverEmail>postmaster@example.com</ApproverEmail></SearchOrderDetail><SearchOrderDetail><ApproverType>GENERIC</ApproverType><ApproverEmail>webmaster@example.com</ApproverEmail></SearchOrderDetail></Approvers><OrderID>xxxx123456789</OrderID></Response></ns2:GetDVApproverListResponse></soap:Body></soap:Envelope>
  recorded_at: Wed, 09 Aug 2017 19:53:30 GMT
recorded_with: VCR 3.0.3
