---
http_interactions:
- request:
    method: post
    uri: https://test-gcc.globalsign.com/kb/ws/v1/ServerSSLService
    body:
      encoding: UTF-8
      string: |-
        <soap:Envelope xmlns:soap="http://schemas.xmlsoap.org/soap/envelope/" xmlns:ns2="https://system.globalsign.com/kb/ws/v1/">
          <soap:Body>
            <ns2:DVDNSVerificationForIssue>
              <Request>
                <OrderRequestHeader>
                  <AuthToken>
                    <UserName>[USER_NAME]</UserName>
                    <Password>[PASSWORD]</Password>
                  </AuthToken>
                </OrderRequestHeader>
                <OrderID>xxxx123456789</OrderID>
                <ApproverFQDN>www.example.com</ApproverFQDN>
              </Request>
            </ns2:DVDNSVerificationForIssue>
          </soap:Body>
        </soap:Envelope>
    headers:
      Content-Type:
      - text/xml
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: '<soap:Envelope xmlns:soap="http://schemas.xmlsoap.org/soap/envelope/"><soap:Body><ns2:DVDNSVerificationForIssueResponse xmlns:ns2="https://system.globalsign.com/kb/ws/v1/"><Response><OrderResponseHeader><SuccessCode>-1</SuccessCode><Errors><Error><ErrorCode>-4147</ErrorCode><ErrorMessage>We were unable to verify the domain http://example.com. Please ensure: 1. The domain is publicly accessible. 2. The verification meta tag is located in an approved location (See API specification for details). 3. The meta tag exactly matches the one we have provided.</ErrorMessage></Error></Errors><Timestamp>2016-10-06T14:31:30.857+09:00</Timestamp></OrderResponseHeader><DVDNSVerificationForIssue xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:nil="true"/></Response></ns2:DVDNSVerificationForIssueResponse></soap:Body></soap:Envelope>'
  recorded_at: Thu, 06 Oct 2016 05:31:30 GMT
recorded_with: VCR 3.0.3
