---
http_interactions:
- request:
    method: post
    uri: https://test-gcc.globalsign.com/kb/ws/v1/ServerSSLService
    body:
      encoding: UTF-8
      string: |-
        <soap:Envelope xmlns:soap="http://schemas.xmlsoap.org/soap/envelope/" xmlns:ns2="https://system.globalsign.com/kb/ws/v1/">
          <soap:Body>
            <ns2:URLVerificationForIssue>
              <Request>
                <OrderRequestHeader>
                  <AuthToken>
                    <UserName>[USER_NAME]</UserName>
                    <Password>[PASSWORD]</Password>
                  </AuthToken>
                </OrderRequestHeader>
                <OrderID>xxxx123456789</OrderID>
                <ApproverURL>http://example.com</ApproverURL>
              </Request>
            </ns2:URLVerificationForIssue>
          </soap:Body>
        </soap:Envelope>
    headers:
      Content-Type:
      - text/xml
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        <soap:Envelope xmlns:soap="http://schemas.xmlsoap.org/soap/envelope/"><soap:Body><ns2:URLVerificationForIssueResponse xmlns:ns2="https://system.globalsign.com/kb/ws/v1/"><Response><OrderResponseHeader><SuccessCode>0</SuccessCode><Errors/><Timestamp>2016-10-06T14:53:27.191+09:00</Timestamp></OrderResponseHeader><URLVerificationForIssue><CertificateInfo><CertificateStatus>4</CertificateStatus><StartDate>2016-10-06T14:53:23.000+09:00</StartDate><EndDate>2016-11-06T14:53:23.000+09:00</EndDate><CommonName>example.com</CommonName><SubjectName>CN = example.com, O = null, OU = Domain Control Validated, L = null, ST = null, C = JP</SubjectName><DNSNames xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:nil="true"/></CertificateInfo><Fulfillment><CACertificates><CACertificate><CACertType>ROOT</CACertType><CACert>-----BEGIN CERTIFICATE-----&#xD;
        aaaaa&#xD;
        -----END CERTIFICATE-----&#xD;
        </CACert></CACertificate><CACertificate><CACertType>INTER</CACertType><CACert>-----BEGIN CERTIFICATE-----&#xD;
        bbbbb&#xD;
        -----END CERTIFICATE-----&#xD;
        </CACert></CACertificate></CACertificates><ServerCertificate><X509Cert>-----BEGIN CERTIFICATE-----&#xD;
        ccccc&#xD;
        -----END CERTIFICATE-----&#xD;
        </X509Cert><PKCS7Cert>-----BEGIN PKCS7-----
        ddddd&#xD;
        -----END PKCS7-----
        </PKCS7Cert></ServerCertificate></Fulfillment></URLVerificationForIssue></Response></ns2:URLVerificationForIssueResponse></soap:Body></soap:Envelope>
  recorded_at: Thu, 06 Oct 2016 05:53:27 GMT
recorded_with: VCR 3.0.3
