---
http_interactions:
- request:
    method: post
    uri: https://test-gcc.globalsign.com/kb/ws/v1/ServerSSLService
    body:
      encoding: UTF-8
      string: |-
        <soap:Envelope xmlns:soap="http://schemas.xmlsoap.org/soap/envelope/" xmlns:ns2="https://system.globalsign.com/kb/ws/v1/">
          <soap:Body>
            <ns2:OVOrder>
              <Request>
                <OrderRequestHeader>
                  <AuthToken>
                    <UserName>[USER_NAME]</UserName>
                    <Password>[PASSWORD]</Password>
                  </AuthToken>
                </OrderRequestHeader>
                <OrderRequestParameter>
                  <ProductCode>OV</ProductCode>
                  <OrderKind>renewal</OrderKind>
                  <Licenses type="integer">1</Licenses>
                  <ValidityPeriod>
                    <Months type="integer">12</Months>
                  </ValidityPeriod>
                  <CSR></CSR>
                  <RenewalTargetOrderID>xxxx123456789</RenewalTargetOrderID>
                </OrderRequestParameter>
                <ContactInfo>
                  <FirstName>Pepabo</FirstName>
                  <LastName>Taro</LastName>
                  <Phone>090-1234-5678</Phone>
                  <Email>pepabo.taro@example.com</Email>
                </ContactInfo>
                <OrganizationInfo>
                  <OrganizationName>CompanyName, Inc.</OrganizationName>
                  <CreditAgency type="integer">2</CreditAgency>
                  <OrganizationCode type="integer">111</OrganizationCode>
                  <OrganizationAddress>
                    <AddressLine1>26-1</AddressLine1>
                    <AddressLine2 nil="true"/>
                    <AddressLine3 nil="true"/>
                    <City>Shibuya</City>
                    <Region>Tokyo</Region>
                    <PostalCode>150-0031</PostalCode>
                    <Country>JP</Country>
                    <Phone>090-1234-5678</Phone>
                    <Fax nil="true"/>
                  </OrganizationAddress>
                </OrganizationInfo>
              </Request>
            </ns2:OVOrder>
          </soap:Body>
        </soap:Envelope>
    headers:
      Content-Type:
      - text/xml
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        <soap:Envelope xmlns:soap="http://schemas.xmlsoap.org/soap/envelope/">
          <soap:Body>
            <ns2:OVOrderResponse xmlns:ns2="https://system.globalsign.com/kb/ws/v1/">
              <Response>
                <OrderResponseHeader>
                  <SuccessCode>-1</SuccessCode>
                  <Errors>
                    <Error>
                      <ErrorCode>-102</ErrorCode>
                      <ErrorField>OrderRequestParameter.CSR</ErrorField>
                      <ErrorMessage>Mandatory parameter missing. Please check that the parameters match the API specification. Please review the specific ErrorMessage returned in the XML response for parameter details and consult the XML Field definitions section of the applicable API document.</ErrorMessage>
                    </Error>
                  </Errors>
                  <Timestamp>2018-09-23T23:19:59.013+09:00</Timestamp>
                </OrderResponseHeader>
                <OrderID xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:nil="true" />
              </Response>
            </ns2:OVOrderResponse>
          </soap:Body>
        </soap:Envelope>
  recorded_at: Thu, 10 Aug 2017 19:18:18 GMT
recorded_with: VCR 3.0.3
